<!-- TOPBAR -->
<div class="topbar">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="top-left">
      Sector 5, Rohini, New Delhi, India
    </div>
    <div class="top-right">
      <a href="tel:+919289990112">📞 +91 9289990112</a>
      <a href="mailto:caravanindelhi@gmail.com">✉ caravanindelhi@gmail.com</a>
    </div>
  </div>
</div>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container">

    <!-- LOGO -->
    <a class="navbar-brand" href="#">
      <img src="/images/logo.png" alt="logo">
    </a>

    <!-- TOGGLE -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      ☰
    </button>

    <!-- MENU -->
    <div class="collapse navbar-collapse justify-content-end" id="navMenu">

      <ul class="navbar-nav align-items-lg-center">

        <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about-us/index.html">About</a></li>

        <!-- Popular City -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Popular City</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/popular-city/caravan-on-rent-delhi/index.html">Caravan On rent Delhi</a></li>
            <li><a class="dropdown-item" href="/popular-city/caravan-on-rent-noida/index.html">Caravan On rent Noida</a></li>
            <li><a class="dropdown-item" href="/popular-city/caravan-on-rent-gurugram/index.html">Caravan On rent Gurugram</a></li>
            <li><a class="dropdown-item" href="/popular-city/caravan-on-rent-ghaziabad/index.html">Caravan On rent Ghaziabad</a></li>
            <li><a class="dropdown-item" href="/popular-city/caravan-on-rent-faridabad/index.html">Caravan On rent Faridabad</a></li>
          </ul>
        </li>

        <!-- Local Areas -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Local Areas</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/local/caravan-on-rent-in-pitampura-delhi/index.html">Caravan On rent in Pitampura Delhi</a></li>
            <li><a class="dropdown-item" href="/local/caravan-on-rent-in-rohini-delhi/index.html">Caravan on Rent in Rohini Delhi</a></li>
            <li><a class="dropdown-item" href="/local/caravan-on-rent-in-jor-bagh-delhi/index.html">Caravan on Rent in Jor Bagh Delhi</a></li>
            <li><a class="dropdown-item" href="/local/caravan-on-rent-in-chanakyapuri-delhi/index.html">Caravan on Rent in Chanakyapuri Delhi</a></li>
            <li><a class="dropdown-item" href="/local/caravan-on-rent-vasant-vihar-delhi/index.html">Caravan on Rent in Vasant Vihar Delhi</a></li>
            <li><a class="dropdown-item" href="/local/caravan-on-rent-greater-kailash-delhi/index.html">Caravan on Rent in Greater Kailash Delhi</a></li>
            <li><a class="dropdown-item" href="/local/caravan-on-rent-defence-colony-delhi/index.html">Caravan on Rent in Defence Colony Delhi</a></li>
            <li><a class="dropdown-item" href="/local/caravan-on-rent-model-town-delhi/index.html">Caravan on Rent in Model Town Delhi</a></li>

          </ul>
        </li>

        <!-- MEGA MENU -->
        <li class="nav-item dropdown mega-dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>

          <div class="dropdown-menu mega-menu p-4">

            <div class="row">

              <div class="col-lg-4">
                <h6>Our Fleets</h6>
                <a href="/our-fleets/8-seater-luxury-caravan/index.html">8 Seater Luxury Caravan</a>
                <a href="/our-fleets/12-seater-luxury-caravan/index.html">12 Seater Luxury Caravan</a>
              </div>

              <div class="col-lg-4">
                <h6>Tour Packages</h6>
                <a href="/tour-packages/haridwar-tour-by-caravan/index.html">Haridwar Tour By Caravan</a>
                <a href="/tour-packages/rishikesh-tour-by-caravan/index.html">Rishikesh Tour By Caravan</a>
                <a href="/tour-packages/shimla-tour-by-caravan/index.html">Shimla Tour By Caravan</a>
                <a href="/tour-packages/manali-tour-by-caravan/index.html">Manali Tour by Caravan</a>
                 <a href="/tour-packages/mathura-vrindavan-tour-by-caravan/index.html">Mathura Vrindavan Tour By Caravan</a>
                  <a href="/tour-packages/agra-tour-by-caravan/index.html">Agra Tour By Caravan</a>
              </div>

              <div class="col-lg-4">
                <h6>Vlogging</h6>
                <a href="/vlogging/caravan-on-rent-for-vlogging/index.html">Caravan On Rent for Vlogging</a>
                <a href="/vlogging/caravan-on-rent-for-video-shoots/index.html">Caravan On Rent for Video Shoots</a>
                <a href="/vlogging/caravan-on-rent-for-film-making/index.html">Caravan On Rent for Film Making</a>
              </div>

            </div>

          </div>
        </li>

        <li class="nav-item"><a class="nav-link" href="/contact-us/index.html">Contact</a></li>

      </ul>

      <!-- CTA -->
      <div class="d-flex ms-lg-4 mt-3 mt-lg-0">
        <a href="https://wa.me/919289990112" target="_blank" class="btn whatsapp-btn me-2">WhatsApp</a>
        <a href="javascript:void(0)" class="btn book-btn booking-trigger">Book Now</a>
      </div>


    </div>

  </div>
</nav>